<footer>
    
    
<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>Property Manager open sourced at <b><a href="https://github.com/panbhatt/propserver">https://github.com/panbhatt/propserver</a></b></h4>
            <p>Please visit the project page for more details, wiki, api etc. </p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="http://github.com/panbhatt">See More Projects like this!</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
   
</footer>