
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  background-color: hsl(107, 79%, 46%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cbf7bf", endColorstr="#40d118");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cbf7bf), to(#40d118));
  background-image: -moz-linear-gradient(top, #cbf7bf, #40d118);
  background-image: -ms-linear-gradient(top, #cbf7bf, #40d118);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cbf7bf), color-stop(100%, #40d118));
  background-image: -webkit-linear-gradient(top, #cbf7bf, #40d118);
  background-image: -o-linear-gradient(top, #cbf7bf, #40d118);
  background-image: linear-gradient(#cbf7bf, #40d118);
  border-color: #40d118 #40d118 hsl(107, 79%, 36%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.66);
  -webkit-font-smoothing: antialiased;
}

.tab-pane {
    margin-top: 0px;
}

.editable-wrap {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    width: 100%;
    vertical-align: middle;
}

.editable-wrap .editable-controls, .editable-wrap .editable-error {
    width: 100%;
    vertical-align: middle;
}

.table>tbody>tr>td {
    
    line-height: 1.0;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

.center-modal {
    position: fixed;
    top: 30%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}

.shell {
 border-radius: 10px 10px 10px 10px;
 border-color: #ff9900;
 border-style:solid;
 overflow:hidden;
}

.shellKey {
 border-radius: 2px 2px 2px 2px;
 border-color: #000000;
 border-style:dotted ;
 overflow:hidden;
}
.navbar-darkgreen { /* #003399 - #0033cc */
     font-size: 14px;
    background-color: rgba(0, 102, 51, 1);
    background: -webkit-linear-gradient(top, rgba(0, 153, 51, 1) 0%, rgba(0, 102, 51, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 153, 51, 1) 0%, rgba(0, 102, 51, 1) 100%);
    border: 0px;
	border-radius: 0;
}

.header-gradient {
 background: -webkit-linear-gradient(#FFF, #19cd37); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#FFF, #19cd37); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#FFF, #19cd37); /* For Firefox 3.6 to 15 */
background: linear-gradient(#FFF, #19cd37); /* Standard syntax */
text-align: center;
padding: 10px 0px 10px 0px;
	}




