<div class="modal fade center-modal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title">Copy Properties from </h2>
      </div>
      <div class="modal-body">
        
		<form class="form-horizontal" role="form">
           <div class="form-group">
		    <label  for="prjName" class="col-sm-5 control-label">Project Name : </label>
               
		    <div class="btn-group">
		      <input type="text" class="form-control" id="prjName"  ng-model="project" ng-readonly="true">
		    </div>
		  </div>    
		  <div class="form-group">
		    <label for="release" class="col-sm-5 control-label">Available Releases</label>
		        
               <div class="btn-group" uib-dropdown>
                  <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                    {{selRelease}} &nbsp;<span class="caret"></span>
                  </button>
                  <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                          <li role="menuitem" ng-repeat="rel in releases">
                                <b></b><a ng-click="setRelease(rel)">{{rel}}</a></b>
                          </li>          
                  </ul>
                </div>
              
		  </div>
          <div class="form-group">
		    <label for="pGroup" class="col-sm-5 control-label">Available Property Groups </label>
		        
               <div class="btn-group" uib-dropdown >
                  <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                     {{selPropGroup}} &nbsp; <span class="caret"></span>
                  </button>
                  <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                     <li role="menuitem" ng-repeat="propGroup in propGroups">
                                <b></b><a ng-click="setPropGroup(propGroup)">{{propGroup}} &nbsp;</a></b>
                     </li>  
                  </ul>
                </div>
              
		   </div> 
           <div class="form-group">
		    <label for="name" class="col-sm-5 control-label">Available Environments </label>
		        
               <div class="btn-group" uib-dropdown >
                  <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                     {{selEnvironment}} &nbsp;<span class="caret"></span>
                  </button>
                  <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li role="menuitem" ng-repeat="env in environments">
                                <b></b><a ng-click="setEnvironment(env)">{{env}}</a></b>
                        </li>  
                  </ul>
                </div>
              
		   </div>     
		</form>

      </div>
      <div class="modal-footer">
        <button type="button" ng-click="chkValidity()" class="btn btn-primary" >OK</button>
        <button type="button" ng-click="cancel()" class="btn">Cancel</button>
      </div>
    </div>
  </div>
</div>